header { 
    font-family: Helvetica;
    background-color: darkgray;
  }
  
#form-wrapper {
    width: 100%;
    display: -webkit-flex;
    
  }
  
.form-item {
    margin-right: 1.8rem;
  }
  
label.primary {
    display: block;
    margin: 0.4em 0;
  }
  
label::after {
    content: ":";
  }
  
button, input[type="submit"] {
    margin-top: auto;
    width: 5rem;
    border-color: darkblue;
    color: darkcyan;
    background-color: lightgray;
    border-radius: 100%;
  }
body {
  font-family: Helvetica;
  background: darkgray;
}
#list-of-champions {
    display: flex;
    flex-wrap: wrap;
    list-style-type: bold;
  }
  
.list-of-champions-item {
    margin: 0.1rem 0.1rem;
    padding: 0.5rem 0.8rem;
    border: 1px solid #20437c;
    border-radius: 25%;
}
